*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'DM Sans', sans-serif;
    font-size : 16px;
    line-height: 1.5;
}

body{
    width:90%;
    margin:15px auto 0 auto;
    position : relative;
    @include desktop{
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
    }
}

header{
    @include desktop{
        max-width:65%;
        display:flex;
        align-items: baseline;
    }
}

.logo{
    height:35px;
    vertical-align: bottom;
}

h1{
    color:$secondaryFont;
    font-size:0.875rem;
    @include desktop{
        font-size : 2.25rem;
    }
}

#home h1{
    position : absolute;
    top:15px;
    right:0;
}

.sr-only{
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left:-1000px;
    width: 1px;
    white-space: nowrap 
} 