//Variable
$primaryBackground : #901C1C;
$primaryFont : #D3573C;

$secondaryBackground : $primaryFont;
$secondaryFont : $primaryBackground;

$lightTextFont : #525252;
$lightTextBackground : #FAFAFA;

$lightWriting : #757575;

$tagBorder : #C4C4C4;

$breakpoints: (
  desktop:1280px
);